body {
    margin-right: 0!important;
    margin-left: 0!important;
}


a:hover, button a   {
  color: white;
}

.navbar-brand {
    color: #FFFFFF;

}


.landing-image {
    background-image: url("../img/hand-holding-coffee.jpg");
    background-position: center;
    background-size: cover;
    padding: 8em 2em 0em;
}

.quote {
    font-size: 1em;
}

.cited {
    font-size: 1em;
    margin-bottom: 2em;
}

.get-started-button {
    background-color: transparent;
    border: 3px solid #CFD4AD;
    border-radius: 50px;
    font-size: 0.5em;
}

button.get-started-button:hover {
    background-color: #d0d4ad36;
    border: 3px solid #CFD4AD;
    border-radius: 50px;
    font-size: 0.5em;
}

.get-started-button-container {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.section-block, .footer {
    text-align: left;
    padding: 2em;
}

.our-story {
    background-color: #7F524E;
}

.history {
    background-color: #CFD4AD;
}

.section-title {
    font-size: 1em;
}

.section-text {
    font-size: 0.75em;
}

.footer {
    background-color: #CC9692;
}



@media (min-width: 598px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .landing-image {
        padding: 12em 0 12em;
    }

    .quote {
        width: 70%;
        font-size: 2.5em;
        margin-left: 10%;
        margin-bottom: 0;
    }
}


