.landing-body body {
    margin-right: 0!important;
    margin-left: 0!important;
}

.landing-body a:hover, .landing-body button a   {
    color: white;
}

.navbar-brand {
    color: #FFFFFF;

}

.landing-image, .landing-body button {
    color: #FFFFFF;
}

.landing-body h1 {
    color: var(--font-color);
}

.landing-image {
    background-image: url("../img/hand-holding-coffee.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.quote {
    font-size: 1em;
}

.cited {
    font-size: 1em;
    margin-bottom: 2em;
}

.get-started-button {
    background-color: transparent;
    border: 3px solid #CFD4AD;
    border-radius: 50px;
    font-size: 0.5em;
}

.landing-body button.get-started-button {
    background-color: #d0d4ad36;
    border: 3px solid #CFD4AD;
    border-radius: 50px;
    font-size: 0.5em;
}

.get-started-button-container {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.section-block{
    text-align: left;
    padding: 2em;
    color: var(--font-color);
    height: 80vh;
}

.extra-padding-block {

}

.footer-container {
    text-align: center;
    padding-top: 3em;
}

.footer {
    text-align: left;
    padding: 2em;
    height: 20vh;
    padding-top: 4em;
}

.our-story {
    background-color: var(--background-color);
    margin: 0!important;
}

.history {
    background-color: #CFD4AD;
    margin: 0!important;
}

.get-started-button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 2em;
}

.section-title {
    font-size: 1em;
}

.section-text {
    font-size: 0.75em;
}

.footer {
    background-color: #CC9692;
}

.section-block {
    display: inline-block;
}

.section-block img {
    height: 60%;
    margin: auto;
}

.icon-block, .chocolate-bar-icon {
    display: flex;
}

.chocolate-bar-icon {
    height: 70%;
}



@media (min-width: 598px) {

    .landing-image {
        padding: 8em 2em 8em;
    }

    .quote {
        font-size: 1.5em;
        width: 70%;
    }

    .cited {
        font-size: 1.5em;
    }

    .get-started-button {
        font-size: 0.75em;
    }

    button.get-started-button {
        font-size: 0.75em;
    }

    .get-started-button-container {
        display: flex;
        justify-content: center;
        padding-top: 5em;
    }

    .section-block, .footer {
        text-align: left;
        padding: 2em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .section-text {
        font-size: 1em;
    }


}


@media (min-width: 768px) {

    /*.landing-image {*/
    /*padding: 8em 2em 8em;*/
    /*}*/

    .quote {
        font-size: 2em;
        width: 70%;
    }

    .cited {
        font-size: 2em;
    }

    .get-started-button, button.get-started-button {
        font-size: 1em;
    }

    .section-block, .footer {
        text-align: left;
        padding: 2em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .section-text {
        font-size: 1em;
    }

}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .landing-image {
        padding: 12em 0 12em;
    }

    .quote {
        width: 70%;
        font-size: 4em;
        margin-left: 10%;
        margin-bottom: 0;
    }

    .cited {
        font-size: 3em;
        width: 40%;
        margin: auto;
        margin-left: 40%;
    }

    .get-started-button-container {
        font-size: 1em;
        padding-bottom: 2em;
    }

    .landing-body button.get-started-button {
        font-size: 1.5em;
        /*margin-bottom: 2em;*/
    }

    .section-title {
        font-size: 3em;
    }

    .section-text {
        font-size: 1.5em;
        line-height: 2em;
    }

    .section-block {
        padding: 3em;
    }

    .text-block {
        padding-left: 5em;
    }
}