.catalog-item {
    padding-bottom: 1%;
    color: var(--font-color);
    margin-bottom: 1rem;
   
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /*width: 30%;*/
}

.catalog-item-card {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color: var(--font-color);
    width: 100%;
}

.catalog-item-header {
    background-color: var(--accent-pink);
    border-radius: 5px 5px 0 0;
    padding: 2%;
    color: white;
}

.catalog-item-content {
    padding: 12px;
}

.catalog-img {
    height: 300px;
    overflow: hidden;
    margin-bottom: .5rem;
}

.catalog-img-valign {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.catalog-img > img {
    width: 100%;
    vertical-align: middle;
}

.catalogfilter-items {
    text-align: left;
}

.catalog-container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.catalog-message {
    margin-left: auto;
    margin-right: auto;
}

.catalog-body  {
    text-align: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.catalog-grid {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    margin-top: 1rem;
    width: 100%;

    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
}

.catalog-sidebar {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 540px) {
    .catalog-item  {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-img {
        height: 150px;
    }
}

@media (min-width: 540px) and (max-width: 1080px)  {
    .catalog-item  {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .catalog-img {
        height: 250px;
    }
}