.navbar {
    background-color: rgba(127, 82, 78, 0.6);
}

#map:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

}

.nav-link {
    color: #ffffff!important;
}

.nav-link {
    margin-right: 1em;
}

.visual-padding {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 2em;
}

.visual-container, .visual-buttons-container {
    height: 80vh;
    margin-top: 1em;
}

button.visual-button {
    margin: 1em;
}
.map-wrapper {
    height: 100%;
    width: 100%;
}

.svgContainer {
    height: 100%;
    width: 100%;
}

.control-card {
    margin: 0!important;
    overflow-x: scroll;
}

.leaflet-interactive {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s linear forwards;
}

.card-title {
    font-size: 2em;
    text-align: center;
}

.control-card-section {
    margin: 0;
}

.view-mode-button-container, .filter-by-button-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}


button.visual-button {
    margin-left: 0em;
}

label.visual-button, button.visual-button {
    background: #CFD4AD!important;
    border-color: #babe9b;
    color: #FFFFFF;

}

.legend-scale {
    width: 50%;
    height: 2em;
}

.legend-scale-origin {
    background: linear-gradient(to right, rgba(127, 82, 78,0.1), rgba(127, 82, 78,1));
}

.legend-scale-destination {
    background: linear-gradient(to right, rgba(144, 148, 121,0.1), rgba(144, 148, 121,1));
}


.legend-wrapper {
    text-align: center;
}
.legend-wrapper p, .legend-wrapper div {
    padding: 1em;
    display: inline-block;
}

.country-button-container {
    text-align: left;
}

.btn-group-country {
    display: block;
}

.btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
    background-color: #646754!important;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}