.subscription-body {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 5rem;
}

.subscription-body .card img  {
  height: 250px;
  width: 200px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.subscription-body h2  {
  margin-bottom: 2rem;
}

#subscribe-img  {
  background: linear-gradient( rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5) ), url('/subscribe-background.jpg');
  background-repeat: no-repeat;
  padding: 5rem;
  margin: none;
}

.learn-image  {
  height: 150px;
  padding: 1rem;
}

.subscription-body h1  {
  color: white;
  padding: 2rem;
}

.learn-more p, .description p,
.subscribe p, .subscription-body h3  {
  color: var(--font-color);
}

.month-nav  {
  padding: 1rem;
  display: flex;
  text-align: center;
  background-color: transparent;
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.chocolate-card img   {
  width: 175px;
  height: 175px;
  margin: auto;
}

.chocolate-card h4  {
  font-size: 16pt;
}

.side-button  {
  margin: 0 auto;
}

.middle-button  {
  margin-left: auto;
  margin-right: 3.5rem;
}

.month-nav button  {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  font-size: 20pt;
  border-bottom: 3px solid var(--font-color);
}

.month-nav button:active  {
  box-shadow: none;
}

.month-nav button:hover  {
  font-weight: bold;
}

.card h1  {
  color: var(--font-color);
}

.cards  {
  display: inline-flex;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.skipped  {
  margin: 2rem;
}

#subscribed  {
  text-align: center;
  padding-top: 4rem;
}

#subscribed h1  {
  padding-bottom: 2rem;
}

.card  {
  margin: 1rem;
}

.card, .chocolate-card  {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: none;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover, .chocolate-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.chocolate-card   {
  width: 250px;
  margin: 0.2rem;
}

.chocolate-card p  {
  color: var(--font-color);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card p  {
  color: var(--font-color);
}

.learn-card  {
  display: inline-flex;
  text-align: left;
}

.subscription-bar header  {
  margin-bottom: 2rem;
}

.description  {
  margin-left: 10rem;
  margin-right: 10rem;
}

.learn-more  {
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: white;
  padding: 2rem;
  font-size: 16pt;
  border-radius: 5px 5px 5px 5px;
}

.description p  {
  margin: 2rem;
}

.description button, .confirmation button  {
  color: var(--font-color);
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid var(--accent-green);
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 12pt;
}

.cards button, .chocolate-card button,
.unsubscribe-button, .skip-button  {
  color: white;
  background-color: var(--accent-green);
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 12pt;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.danger-button  {
  color: white;
  background-color: var(--accent-pink);
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 12pt;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.cards button:hover, .chocolate-card button:hover  {
  background-color: var(--accent-pink);
}

.subscription-body h1  {
  background-color: var(--main-color);
  margin: 0;
}

.confirmation  {
  margin: 2rem;
}

.confirmation h4 {
  font-size: 16pt;
}

.subscribe h2  {
  color: var(--font-color);
}

.subscribe h3  {
  font-size: 24pt;
  margin-top: 2rem;
}



.subscription-bar input  {
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 5px 5px 5px 5px;
  border-color: none;
  font-size: 14pt;
}

.subscription-bar ul  {
  margin: 2rem;
  text-align: left;
}

.subscription-bar li  {
  margin: 1rem;
}

#subscribe-img ul {
  text-align: left;
}

#subscribed  {
  margin-bottom: 3rem;
}

#subscribed h1, #subscribed h2, #subscribed h3,
#subscribed h4, .subscription-body label {
  color: var(--font-color);
}

.choose  {
  display: inline-flex;
  margin: auto;
  text-align: center;
}

.sub-links  {
  display: inline-flex;
  text-align: center;
}

#subscribe-img h2, #subscribe-img p, #subscribe-img ul, #subscribe-img li  {
  color: white;
}

@media (max-width: 375px)  {
  .learn-more, .choose, .description  {
    margin: 0;
  }
  .cards  {
    display: block;
  }
  .learn-card  {
    display: block;
    text-align: center;
  }
  .subscription-body h2  {
    font-size: 18pt;
  }
  .sub-links  {
    display: block;
  }
  .subscription-body h1  {
    font-size: 22pt;
    margin-top: 5rem;
  }
  .choose  {
    display: block;
  }
  .chocolate-card  {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #subscribe-img  {
    background-image: none;
    background-color: var(--main-color);
  }
  .middle-button  {
    margin-right: auto;
  }
  #subscribed h1  {
    font-size: 24pt;
    margin-top: 3rem;
  }
  .month-nav button  {
    font-size: 16pt;
  }
}

@media (min-width: 375px) and (max-width: 598px)  {
  .learn-card  {
    display: block;
    text-align: center;
  }
  .cards  {
    display: block;
  }
  .learn-more, .choose  {
    margin: 0;
  }
  .subscription-body h2  {
    font-size: 18pt;
  }
  .description  {
    margin: 0;
  }
  .subscription-body h1  {
    font-size: 22pt;
    margin-top: 2.5rem;
  }
  .choose  {
    display: block;
  }
  .chocolate-card  {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .middle-button  {
    margin-right: auto;
  }
  #subscribed h1  {
    font-size: 24pt;
  }
  .month-nav button {
    font-size: 16pt;
  }
}

@media (min-width: 598px) and (max-width: 865px) {
  .cards  {
    display: block;
  }
  .description  {
    margin: 0;
  }
  .subscription-body h1  {
    font-size: 28pt;
    margin-top: 0;
  }
  .logged  {
    padding-top: 4rem;
  }
  .choose  {
    display: block;
  }
  .chocolate-card  {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .middle-button  {
    margin-right: auto;
  }
}



@media (max-width: 900px)  {
  .middle-button  {
    margin-right: auto;
  }
}

@media (min-width: 1200px) {

}
