.subscription-body {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 5rem;
}

.subscription-body .card img  {
  height: 250px;
  width: 200px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.subscription-body h2  {
  margin-bottom: 2rem;
}

#subscribe-img  {
  background: linear-gradient( rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5) ), url('/subscribe-background.jpg');
  background-repeat: no-repeat;
  padding: 5rem;
  margin: none;
}

.learn-image  {
  height: 150px;
  padding: 1rem;
}

.subscription-body h1  {
  color: white;
  padding: 2rem;
}

.learn-more p, .description p,
.subscribe p, .subscription-body h3  {
  color: white;
}

.card h1  {
  color: black;
}
.cards  {
  display: inline-flex;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

}
.card  {
  margin: 1rem;
}

.card, .chocolate-card  {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover, .chocolate-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.chocolate-card   {
  width: 250px;
  margin: 0.2rem;
}

.chocolate-card p  {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card p  {
  color: black;
}

.learn-card  {
  display: inline-flex;
    text-align: left;
}

header  {
  margin-bottom: 2rem;
}

.description  {
  margin-left: 10rem;
  margin-right: 10rem;
}

.learn-more  {
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: var(--dark-blue);
  padding: 2rem;
  font-size: 16pt;
}

.description button, .confirmation button  {
  color: white;
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid var(--accent-green);
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 12pt;
  text-shadow: 0px 0.5px 5px #000000;
}

.cards button, .chocolate-card button {
  color: white;
  background-color: var(--accent-green);
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 12pt;
  text-shadow: 0px 0.5px 5px #000000;
}

.subscription-body h1  {
  background-color: var(--main-color);
  margin: 0;
}

.confirmation  {
  margin: 2rem;
}

.confirmation h4 {
  font-size: 16pt;
}

.subscribe h2  {
  color: white;
}

.subscribe h3  {
  font-size: 24pt;
  margin-top: 2rem;
}



input  {
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 5px 5px 5px 5px;
  border-color: none;
  font-size: 14pt;
}

ul  {
  margin: 2rem;
  text-align: left;
}

li  {
  margin: 1rem;
}

.subscription-body label  {
  color: white;
}

#subscribed h2  {
  color: white;
}

.row  {
  display: inline-flex;
}

.choose  {
  margin: 2rem;
}
