html, body, #root, .row-container, .auth-container,
.app-wrapper, .content-wrapper, #login, #signup {
  height: 100%;
}

#login h1, #signup h1, #login h2, #signup h2  {
  text-align: center;
  color: var(--font-color);
}

#login .logo a:hover, #signup .logo a:hover  {
  text-decoration-color: var(--font-color);
}

#signup button, #login button  {
  color: var(--font-color);
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid var(--main-color);
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1em;
}

input  {
  outline: 0;
  box-shadow: none;
}

.login-banner-container {
  background-image: url("../img/login-banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 1 0%;
  width: 60%;
}

.row-container {
  margin: 0;
}
.user-login-container {
  padding: 7em 3em 3em 3em;
  width: 35%;
  background-color: #eeeae347;
}

.form-labels, .title-text > p {
  color: var(--font-color);
}

.email-form {
  margin-top: 4em;
}

.row-container {
  background-color: #FFFFFF;
  width: 100%;
}

.new-account-text > a {
  color: var(--accent-green);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.new-account-text > a:hover  {
  text-decoration-color: var(--accent-green);
}

.new-account-text-container {
  text-align: center;
}

.login-button-container, .signup-button-container {
  text-align: center;
}

#login .login-button, #signup .signup-button {
  width: 50%;
}

#login button:disabled, #signup button:disabled {
  background-color: rgb(40, 40, 40);
}

#login button:hover, #signup button:hover {
  background-color: var(--accent-green);
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.password-error, .email-error {
  color: red;
}

@media (max-width: 375px)  {
  #login h1, #signup h1  {
    font-size: 1.5em;
  }

  #login h2, #signup h2  {
    font-size: 1em;
  }
  .login-banner-container {
    width: 0%;
  }
  .user-login-container {
    width: 100%;
  }
}

#back-button {
  color: #000;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 1;
}

@media (min-width: 375px) and (max-width: 598px) {
  #login h1, #signup h1  {
    font-size: 1.5em;
  }

  #login h2, #signup h2  {
    font-size: 1em;
  }
  .login-banner-container {
    width: 25%;
  }
  .user-login-container {
    width: 75%;
  }
}

@media (min-width: 598px) and (max-width: 768px) {
  #login h1, #signup h1  {
    font-size: 1.5em;
  }

  #login h2, #signup h2  {
    font-size: 1em;
  }

  .login-banner-container {
    width: 50%;
  }
  .user-login-container {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #login h1, #signup h1  {
    font-size: 1.5em;
  }

  #login h2, #signup h2  {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #login h1, #signup h1  {
    font-size: 2em;
  }

  #login h2, #signup h2  {
    font-size: 1.5em;
  }
}
