:root {
  --main-color: #7F524E;
  --background-color: #5E7A99;
  --accent-green: #CFD4AD;
  --accent-pink: #CC9692;
  --dark-blue: #55697F;
  --font-color: #535353;
}

body {
  background-color: var(--background-color);
}
/*
.App-header {
  background-color: var(--main-color);
  height: 30px;
  padding: 20px;
  color: white;
}*/

.fa-chocolate {
  margin-right: 8px;
  padding-right: 0;
  width: 26px;
  height: 26px;
  background: url("./img/flaticonchocolateicon.png") right top;
  background-position: 100% 100%;
  background-size: 100% 100%;
}
