:root {
  --main-color: #7F524E;
  --background-color: #eeeae347;
  --accent-green: #CFD4AD;
  --accent-pink: #CC9692;
  --dark-blue: #55697F;
  --font-color: #535353;
}

input  {
  outline: 0;
  box-shadow: none;
}

body {
  background-color: #eeeae347;
}

button:hover, a button:hover  {
  background-color: var(--accent-pink);
}

button:focus  {
  outline: 0;
}

button:active  {
  box-shadow: 0 0 1px 1px black inset;
}

.logged {
  padding-top: 5rem;
}

.fa-chocolate {
  margin-right: 8px;
  padding-right: 0;
  width: 26px;
  height: 26px;
  background: url("./img/flaticonchocolateicon.png") right top;
  background-position: 100% 100%;
  background-size: 100% 100%;
}

.loading-screen  {
  margin-top: 10rem;
  text-align: center;
}
