* {
  box-sizing: border-box;
}
.navbar {
  padding: 1rem 1rem!important;
  margin-bottom: 0;
}

.nav-link, .navbar-brand, #nav a {
  color: #ffffff!important;
}

button.navbar-toggler {
  border-color: transparent!important;
}

button.navbar-toggler:focus {
  outline: none;
}
button.navbar-toggler:active {
  box-shadow: none!important;
}

button.navbar-toggler:hover {
  background-color: transparent;
}

button.login-button, button.signup-button, button.signout-button {
  background-color: transparent;
  border: 3px solid var(--accent-green);
  border-radius: 50px;
  width: 100%;
  color: white;
}

.login-button:focus, .signup-button:focus, .signout-button:focus  {
  outline: 0;
  box-shadow: none;
}

.login-button:active, .signup-button:active, .signout-button:active {
  background-color: var(--accent-pink);
}

button.link-button:active, button.link-button:focus,
button.signout-button:focus, button.signout-button:active,
button.signup-button:active, button.login-button:active,
button.signup-button:focus, button.login-button:focus {
  background-color: transparent;
  box-shadow: none;
}

button.link-button:hover, button.signout-button:hover,
button.signup-button:hover, button.login-button:hover
{
  background-color: transparent;
}

div.show div.link-centered {
  margin-right: auto;
  margin-left: auto;
}


nav.navbar {
  background-color: rgba(127, 82, 78, 0.5);
  width: 100%;
  padding: 1rem;
  font-size: 1em;
}

#nav {
  padding: 1em;
}

nav.navbar  {
  display: flex;
}


.nav-item  {
  display: inline-flex;
  margin-right: 1em;
}

#nav a  {
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

button.btn {
  margin: 0.5em 0;
}

.link-button {
  background-color: transparent;
  color: #FFFFFF;
}

button.link-button:hover {
  background-color: #CC9692;
}

.

div.show button.login-button:hover, div.show button.signup-button:hover {
  background-color: transparent;
}

button.login-button:hover, button.signup-button:hover,
button.signout-button:hover {
  background-color: #E2E5CD;
}

div.show button.login-button, div.show button.signup-button, div.show button.signout-button {
  border: none;
}

div.show li.nav-item:hover {
  border-radius: 10px;
  background-color: #CC9692;
}

nav.logged-navbar {
  background-color: rgba(127, 82, 78, 9);
}
