.login-button, .signup-button, #nav .signout-button button {
  background-color: transparent;
  border: 3px solid #CFD4AD;
  border-radius: 50px;
  width: 100%;
  color: white;
}

.login-button:focus, .signup-button:focus, #nav .signout-button button:focus  {
  outline: 0;
  box-shadow: none;
}

.login-button:active, .signup-button:active, #nav .signout-button button:focus  {
  background-color: var(--accent-pink);
}

.main-nav  {
  justify-content: space-between;
  display: flex;
}

#nav {
  background-color: rgba(127, 82, 78, 0.5);
  position: absolute;
  width: 100%;
  padding: 1rem;
  font-size: 16pt;
}

#nav {
  padding: 1em;
}

.nav-item  {
  display: inline-flex;
  margin-right: 1em;
}

#nav .signout-button button {
  width: 100%;
}

.signout-button button {
  padding: 0.375rem 0.75rem;
}

#nav .signout-button button:hover  {
  background-color: var(--accent-pink);
}

#nav a  {
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 598px) {
  #nav, .signout-button button  {
    font-size: 12pt;
  }
  .signout-button button  {
    padding: 0.2rem 0.325rem;
  }
  .main-nav  {
    display: block;
    text-align: center;
  }
  .nav-item  {
    margin: 0.5rem 0 0.5rem 0;
  }
}

@media (min-width: 598px) and (max-width: 768px) {
  #nav, .signout-button button  {
    font-size: 12pt;
  }
  .signout-button button  {
    padding: 0.300rem 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {

}
