.login-button, .signup-button {
  background-color: transparent;
  border: 3px solid #CFD4AD;
  border-radius: 50px;
  width: 100%;
  color: white;
}

.login-button:focus, .signup-button:focus  {
  outline: 0;
  box-shadow: none;
}

.login-button:active, .signup-button:active  {
  background-color: var(--accent-pink);
}

#nav {
  background-color: rgba(127, 82, 78, 0.5);
  position: absolute;
  width: 100%;
  padding: 1rem;
}

.navbar  {
  display: flex;
}

.nav-item  {
  display: inline-flex;
  margin-right: 1em;
}

a  {
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}
